USE [riskadjustment]
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rating_Area_CountyMap]') AND type in (N'U'))
DROP TABLE [dbo].[Rating_Area_CountyMap]
GO
/****** Object:  Table [dbo].[Rating_Area_CountyMap]    Script Date: 8/28/2023 9:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating_Area_CountyMap](
	[State] [nvarchar](50) NOT NULL,
	[Rating_Area] [nvarchar](50) NOT NULL,
	[County] [nvarchar](50) NULL,
	[COUNTY2] [nvarchar](50) NULL,
	[Zip] [nvarchar](50) NULL,
	[Market_Geographic_Rating_Divisions] [nvarchar](50) NOT NULL,
	[FFM] [bit] NULL,
	[State_Abb] [nvarchar](50) NOT NULL,
	[FIPS] [nvarchar](5) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Rating_Area_CountyMap] ([State], [Rating_Area], [County], [COUNTY2], [Zip], [Market_Geographic_Rating_Divisions], [FFM], [State_Abb], [FIPS]) VALUES (N'Alabama', N'Rating Area 1', N'Calhoun', N'CALHOUN', NULL, N'MSAs+1', 1, N'AL', N'01015')
INSERT [dbo].[Rating_Area_CountyMap] ([State], [Rating_Area], [County], [COUNTY2], [Zip], [Market_Geographic_Rating_Divisions], [FFM], [State_Abb], [FIPS]) VALUES (N'Alabama', N'Rating Area 2', N'Lee', N'LEE', NULL, N'MSAs+1', 1, N'AL', N'01081')
INSERT [dbo].[Rating_Area_CountyMap] ([State], [Rating_Area], [County], [COUNTY2], [Zip], [Market_Geographic_Rating_Divisions], [FFM], [State_Abb], [FIPS]) VALUES (N'Alabama', N'Rating Area 3', N'Bibb', N'BIBB', NULL, N'MSAs+1', 1, N'AL', N'01007')
GO
