IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Federal_Age_Curve]') AND type in (N'U'))
DROP TABLE [dbo].[Federal_Age_Curve]
GO
/****** Object:  Table [dbo].[Federal_Age_Curve]    Script Date: 8/28/2023 9:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Federal_Age_Curve](
	[Age] [tinyint] NOT NULL,
	[Premium_Ratio] [float] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Federal_Age_Curve] ([Age], [Premium_Ratio]) VALUES (14, 0.764999985694885)
INSERT [dbo].[Federal_Age_Curve] ([Age], [Premium_Ratio]) VALUES (15, 0.83300000429153442)
INSERT [dbo].[Federal_Age_Curve] ([Age], [Premium_Ratio]) VALUES (16, 0.859000027179718)
GO
