USE [riskadjustment]
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NDC_RXC]') AND type in (N'U'))
DROP TABLE [dbo].[NDC_RXC]
CREATE TABLE [dbo].[NDC_RXC](
	[NDC] [nvarchar](12) NOT NULL,
	[RXC] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[NDC_RXC] ([NDC], [RXC]) VALUES (N'00003196401', 1)
INSERT [dbo].[NDC_RXC] ([NDC], [RXC]) VALUES (N'00003196501', 1)
INSERT [dbo].[NDC_RXC] ([NDC], [RXC]) VALUES (N'00003196601', 1)
GO
