
USE [riskadjustment]
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GCF]') AND type in (N'U'))
DROP TABLE [dbo].[GCF]
/****** Object:  Table [dbo].[GCF]    Script Date: 8/28/2023 9:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GCF](
	[State] [nvarchar](50) NULL,
	[Rating_Area] [tinyint] NULL,
	[GCF] [float] NULL,
	[Billable_Member_Months] [float] NULL,
	[Year] [int] NULL,
	[Market] [tinyint] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[GCF] ([State], [Rating_Area], [GCF], [Billable_Member_Months], [Year], [Market]) VALUES (N'AK', 1, 0.97100001573562622, 101510, 2021, 1)
INSERT [dbo].[GCF] ([State], [Rating_Area], [GCF], [Billable_Member_Months], [Year], [Market]) VALUES (N'AK', 2, 1.0290000438690186, 95278, 2021, 1)
INSERT [dbo].[GCF] ([State], [Rating_Area], [GCF], [Billable_Member_Months], [Year], [Market]) VALUES (N'AK', 3, 1.0049999952316284, 29990.69921875, 2021, 1)
GO
